{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Alex's introduction to the big wide world of NHS prototypes{% endblock %}

{% block pageIntro %}Join me on my quest to become a design unicorn{% endblock%}

{% block content %}
  <h2>Alex's introduction to the big wide world of NHS prototypes</h2>
  <h3>Find and see a GP journey</h3>
  <p>Join me on my quest to become a design unicorn</p>

{% endblock %}

{% block footer %}{% endblock %}
